/* Estilos del body */
body {
    text-align: center;
    height: 500px;
}


/* Estilos para la clase container */
.container{
    margin: 25px;
    border: 1px solid black;
}




/* Posiciones */

/* Static

Es la posicion por defecto, todos los elementos HTML son estaticos, los elementos se posicionan en el flujo normal del documento (arriba a abajo, izquierda a derecha). Los valores top, bottom, right y left no tienen efecto sobre esta propiedad.



.position{
    position:static; /*como se va a colocar*/
    /* top: 30px;
    left: 10px;  */
    /*right: 50px;
    bottom: 60px; */
/* } */





/* Relative

Posiciona el elemento en relacion con su posicion normal en el flujo del documento. A pesar de que el elemento comienza con una posicion normal, si le afectan los valores que modifiquemos en top, bottom, left y right.

*/

/* .position{
    position: relative;
    top: 30px;
} */



/* Fixed 

Se modifica dependiendo la posicion de la pantalla y depende tambien de cuanto espacio tenemos disponible (viewport que es lo que el usuario ve actualmente en la pantalla).

Este estilo se aplica generalemnte a barras de navegacion. Cuando aplicamos esta propiedad, aseguramos que el elemento se mantenga visible independientemente de como se ajuste la ventana (viewport). Es similar al absolute, pero el elemento se posiciona en relacion a la ventana del navegador, mas no al body.

*/


/* .position{
    position: fixed;
    left: 20px;
    top: 50px;
} */



/* 

Absolute

Para poder utilizar esta posicion, debemos tomar en cuenta tambien el contexto de nuestro padre (contenedor-padre). Esto quiere decir que todo lo que le pase al padre, se toma como contexto y eso afectara al hijo (margen, padding, etc.). Generalmente se usa para barras de navegacion, menus desplegables y animaciones (elementos que se quedan en un solo lugar respecto al elemento que los contiene).

.position{
    position: absolute;
    top: 50px;
}

*/


.container-padre{
    margin: 100px;
    padding: 100px;
    border: 1px solid black;
}


.position{
    position: sticky;
    top: 100px;
}





/* Atributo position 

Sirve para poner o acomodar los elementos dentro de nuestro HTML.

La propiedad de position de CSS se utiliza para controlar la ubicacion y el posicionamiento de un elemento HTML en una pagina. La propiedad position acepta diferentes valores, cada uno de los cuales determina como se posiciona un elemento en relacion con su elemento padre o en relacion con la ventana del navegador (el flujo normal de nuestra ventana es a partir de la esquina superior izquierda).

    - static
    - relative
    - absolute
    - fixed
    - sticky



*/