body{
 text-align: center;
}
.container{
 margin: 50px;
 padding: 25px;
 border: 1px solid black;
}

.display{
 border: 1px solid red;
}

span{
    color: red;
    border: 2px solid black;
}

/* estilos display */

#display-none{
    display: none;
}
#display-inline{
    display: inline;
}
#display-block{
    display: block;
}
#display-inline-block{
    display: inline-block;
}


li{
    display: inline;
}